body {
    
}

aside {
    display: flex;
    justify-content: left;
    align-items: flex-start;
}

main {
    
}

#post {
    touch-action: none;
    border: 1px solid #000000;
    background-color: white;
}

.can {
    border: 1px, solid, #000000;
}

